@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Roboto Condensed', sans-serif;

}

nav {
    max-width: 1440px;
    margin: 2vh auto;
    text-align: center;
    font-size: 0;
    background-color: #532f28;
    border-radius: 10px;
}

nav ul li {
    display: inline-block;
    width: 25%;
}

nav ul li a {
    display: block;
    padding: 20px;
    margin: 0 60px;
    font-size: 2rem;
    color: #ddd;
    text-decoration: none;
    transition: .3s;
}

nav ul li a:hover {
    color: white;
    background-color: #683b32;
}

header {
    height: 30vh;
    background-image: url(img/kawatlo.jpg);
    background-size: cover;
    background-position: center;
}

header h1 {
    color: white;
    background-color: rgba(0, 0, 0, 0.164);
    backdrop-filter: blur(3px);
    text-align: center;
    line-height: 30vh;
    font-size: 5rem;
    text-shadow: 0 0 3px black;
    font-weight: 700;
}


main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 5vh 5vh 2vh;
    background-color: #532f28;
    color: white;
}

p.description {
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 5vh;
    border-bottom: 2px solid white;
}


.features {
    padding: 5vh 0;
    border-bottom: 2px solid white;
}

.feature {
    display: flex;
    margin-bottom: 5vh;
    align-items: center;
    height: 30vh;
    flex-direction: row;
    font-size: 0;
    
}

.feature-img {
    width: 30%;
    height: 100%;
    background-image: url(img/kawa1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 0 3px 0 black;
}

.img2 {
    background-image: url(img/superatmosfera.jpg);
}

.img3 {
    background-image: url(img/cena.jpg);
}

.feature-description {
    width: 70%;
    text-align: right;
    padding-left: 5vw;
    font-size: 2rem;
}

.left {
    text-align: left;
    padding-left: 0;
    padding-right: 5vw;
}

.flexleft {
    flex-direction: row-reverse;
}

.feature-description h1 {
    font-size: 3.5rem;
    margin-bottom: 2vh;
}


.seeus {
    text-align: center;
    margin: 5vh 0;
}

.seeus h2 {
    font-size: 5rem;
}

.seeus p {
    margin: 2vh 0;
    font-size: 2rem;
}

.btn {
    display: block;
    margin: 4vh auto 0;
    padding: 20px;
    font-size: 2rem;
    max-width: 15%;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid white;
    transition: .3s;
}

.btn:hover {
    background-color: white;
    letter-spacing: 2px;
    color: #222;
}

span.bold {
    font-weight: 700;
}

footer {
    text-align: center;
    background-color: black;
    padding: 2vh;
    color: #777;
    font-size: 1.8rem;
}

footer a {
    display: block;
    width: 15vw;
    margin: 0 auto 3vh;
    display: block;
    color: #ddd;
    padding: 20px;
    border: 2px solid #ddd;
    text-decoration: none;
    transition: 0.3s;
}

footer a:hover {
    background-color: #ddd;
    color: #222;
}

@media screen and (max-width: 1080px) {
    nav ul li {
        display: block;
        width: 100%;
    }
    
    header h1 {
        font-size: 5.5vw;
        line-height: 15vh;
    }

    .feature {
        flex-direction: column;
        height: 100vh;
    }

    .feature-img {
        width: 100%;
        height: 50%;
        margin-bottom: 25px;
    }

    .feature-description {
        width: 100%;
        text-align: center;
        padding: 0 2vw;
        font-size: 2rem;
    }


}