/* LANDING PAGE */

header {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-image: url(../img/background.png);
    background-size: cover;
    background-position: center;
    z-index: 1;
    
}

header .bg {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
}

.bg .logo {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0%, -50%);
}

.bg img {
    display: block;
    margin: 0 auto;
    width: 50%;
    max-width: 1000px;
    pointer-events: none;
    user-select: none;
}

.bg h1 {
    margin-top: 50px;
    color: white;
    font-size: 4.8rem;
    font-weight: 400;
    text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black;
    text-align: center;
    user-select: none;

}

.bg h2 {
    margin-top: 10px;
    color: white;
    font-size: 3.6rem;
    text-align: center;
    font-weight: 400;
    text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black;
}

.bg .bold {
    font-weight: 700;
}

.bg a.pc-discord {
    display: inline-block;
    margin-left: 30px;
    padding: 20px 30px;
    border: 3px solid white;
    background-color: rgba(255, 255, 255, 0.199);
    border-radius: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
    user-select: none;
    transition: .3s;
}

.bg a.mobile-discord {
    display: none;
}

.bg a:hover {
    background-color: #5865f2;
    border-color: #5865f2;
    text-shadow: none;
}


@media (max-width: 425px) {
    .bg img {
        width: 300px;
    }

    .bg h1 {
        font-size: 2.4rem;
    }

    .bg h2 {
        font-size: 1.6rem;
    }

    .bg a.pc-discord {
        display: none;
    }

    .bg a.mobile-discord {
        display: block;
        width: 200px;
        margin: 20px auto 0;
        padding: 15px 10px;
        border: 2px solid white;
        background-color: rgba(255, 255, 255, 0.199);
        border-radius: 10px;
        text-align: center;
        color: white;
        font-size: 1.6rem;
        font-weight: 700;
        text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black;
        text-decoration: none;
        user-select: none;
        transition: .3s;
    }

}

@media (max-width: 820px) {

    .bg h1 {
        font-size: 3.6rem;
    }

    .bg h2 {
        font-size: 2.4rem;
    }

    .bg a.pc-discord {
        display: none;
    }

    .bg a.mobile-discord {
        display: block;
        width: 350px;
        margin: 20px auto 0;
        padding: 15px 10px;
        border: 2px solid white;
        background-color: rgba(255, 255, 255, 0.199);
        border-radius: 10px;
        text-align: center;
        color: white;
        font-size: 2.4rem;
        font-weight: 700;
        text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black;
        text-decoration: none;
        user-select: none;
        transition: .3s;
    }

}

@media (max-width: 1024px) {
    .bg h1 {
        font-size: 3.6rem;
    }

    .bg h2 {
        font-size: 2.4rem;
    }
}



/* SAMA STRONA */

div.page {
    position: absolute;
    background-color: white;
    top: 100%;
    width: 100%;
    min-height: 100vh;
    z-index: 1;
}

div.wrap {
    max-width: 1400px;
    margin: 0 auto;
}

/* EDYCJA */

.blur {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(2px);
}

.edition {
    position: relative;
    min-height: 100vh;
    background-image: url(../img/background2.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}


.edition h2 {
    margin-bottom: 50px;
    color: white;
    font-size: 6.4rem;
    text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black;
}

.edition h2 span {
    color: #a800ff;
}

.edition p {
    color: white;
    font-size: 2.4rem;
}

.edition .desc {
    position: absolute;
    width: 75%;
    max-width: 1400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding: 20px 100px;
}

@media (max-width: 425px) {
    .edition h2 {
        font-size: 3.6rem;
    }

    .edition p {
        font-size: 1.6rem;
    }

    
}

@media (max-width: 820px) {
    .edition h2 {
        font-size: 4.8rem;
    }

    .edition p {
        font-size: 2rem;
    }

    .edition .desc {
        padding: 20px 10px;
    }
}

/* PRICING */

.pricing {
    position: relative;
    min-height: 90vh;
    background-image: url(../img/pricing.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    font-size: 3rem;
}

.pricing .priceBg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
}

.pricing .desc {
    position: absolute;
    max-width: 1400px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.pricing h2 {
    font-size: 6.4rem;
    padding: 0 100px;
    margin-bottom: 10px;
}

.pricing table {
    width: 80%;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    border-collapse: collapse;
    border-radius: 10px;
    /*box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0.4); */
}

.pricing table th {
    padding: 20px;
}

.pricing table td {
    width: 33%;
    padding: 20px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.pricing table td:nth-of-type(1) {
    font-weight: 700;
}
.pricing table td:nth-of-type(2) {
    font-size: 2.2rem;
}

.pricing table tr:nth-of-type(3) td {
    border-bottom: none;
}

.pricing table td:nth-of-type(3) {
    border-right: none;
}

.pricing a {
    display: inline-block;
    padding: 20px 30px;
    text-decoration: none;
    border: 3px solid black;
    background-color: rgba(255, 255, 255, 0.199);
    border-radius: 10px;
    font-weight: 700;
    color: black;
    transition: .3s;
}

.pricing a:hover {
    transform: scale(1.05);
}

@media (max-width: 1024px) {
    .pricing h2 {
        font-size: 3.6rem;
        margin-bottom: 10px;
    }

    .pricing {
        font-size: 2rem;
    }

    .pricing table td:nth-of-type(2) {
        font-size: 1.5rem;
    }
}

@media (max-width: 820px) {
    .pricing {
        min-height: 100vh;
    }
}


@media (max-width: 425px) {
    .pricing {
        font-size: 1.6rem;
    }
    
    .pricing h2 {
        padding: 0;
        font-size: 3rem;
    }

    .pricing table td:nth-of-type(2) {
        font-size: 1.2rem;
    }
}

@media (min-width: 1600px) {
    .pricing table {
        width: 100%;
    }
}

/* WIADOMOŚCI */

h2.news {
    padding: 50px 30px;
    text-align: center;
    font-size: 4.8rem;
}

.articles {
    margin: 0 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.articles .article {
    position: relative;
    margin-bottom: 70px;
    padding: 0 40px;
    flex-basis: 33%;
    height: 420px;
}

.article span {
    font-size: 1.2rem;
}

.article span i {
    margin-right: 5px;
}

.article span i:nth-child(2) {
    margin-left: 10px;
    margin-right: 5px;
}


.article .container {
    width: 100%;
    aspect-ratio: 16 / 10;
}

.article .container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: .3s;
}

.longer .container img:hover {
    transform: scale(1.03);
    box-shadow: 0 0 5px 2px black;
}

.article h2 {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 2.4rem;
}

.article h2 a {
    color: black;
    text-decoration: none;
    transition: .3s;
}

.article h2 a:hover {
    color: #a800ff;
}

.article p {
    font-size: 1.6rem;
}

.article p a {
    color: #a800ff;
}


@media (max-width: 425px) {
    .articles {
        display: block;
        justify-content: center;
    }

    .articles .article {
        margin-bottom: 20px;
    }
}

@media (max-width: 820px) {
    .articles .article {
        flex-basis: 50%;
    }
}



